/*Basic css*/

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  padding-bottom: 1.5rem;
}

#header {
    position: relative;
    padding-top: 5rem;
    height: 18rem;
    width: 100%;
    background-color: #000;
    background-image: url(../static/background.jpg);
    background-size: cover;
    background-position-y: 70%;
    background-repeat: no-repeat;
}

#header-desc {
    margin-top: 0rem;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  color: #1B3D6D;
}

a, a:link, a:hover, a:visited, a:active {
  color: #1B3D6D;
}

b, strong {
  font-weight: normal;
}

.bg-ucsb {
    background-color: #1B3D6D !important;
}

.uci-blue {
  color: #1B3D6D;
}

.important {
  font-size: 1.1rem;
}

/*css of navbar*/

.navbar-custom {
    background-color: #1B3D6D;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFCF37;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FFCF37;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #F9A12A;
}

.navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
  color: #F9A12A;
}

/*css of jumbotron*/

.jumbotron {
  font-size: 1rem;
  padding: 2.5rem 1rem 1.5rem 1rem;
  text-align: justify;
  border-bottom: 0.05rem solid #e5e5e5;
}

/*css of footer*/

.footer {
  font-size: 0.8rem;
  color: #969696;
}

table {
  border-collapse: collapse;
  vertical-align: middle;
}

td {
  padding: 0rem 0rem 0.2rem 0rem;
}

/* This is for publications pages*/
.ul-paper {
  padding: 0;
  list-style-type: none;
}

.li-paper {
  margin: 1rem 0;
}

ul li > span {
  display: block;
}
